{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projects</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.title }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.startDate }}</td>
                    <td>{{ project.endDate }}</td>
                    <td>{{ project.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}" class="btn btn-primary">Créer un nouveau projet</a>
{% endblock %}
